window-rule {
    match app-id="brave-browser"
    match title="Brave"
    open-maximized false
}

// Open Bitwarden login window as floating
window-rule {
    match app-id="brave-nngceckbapebfimnlniiiahkandclblb"
    match title="Bitwarden"
    open-floating true
}

// Fcitx config tool
window-rule {
    match app-id="^org.fcitx.fcitx5-config"
    match app-id="Fcitcx"
    open-floating true
}

